body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:90px;
  width:300px;
  height:300px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u2 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  transform:rotate(10deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u4 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u6 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u8 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u10 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u12 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u14 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(70deg);
  -moz-transform:rotate(70deg);
  -ms-transform:rotate(70deg);
  transform:rotate(70deg);
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u16 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state8 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u18 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u20 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state10 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state10_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(100deg);
  -moz-transform:rotate(100deg);
  -ms-transform:rotate(100deg);
  transform:rotate(100deg);
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u22 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state11_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u24 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state12_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u26 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state13_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(130deg);
  -moz-transform:rotate(130deg);
  -ms-transform:rotate(130deg);
  transform:rotate(130deg);
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u28 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state14_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(140deg);
  -moz-transform:rotate(140deg);
  -ms-transform:rotate(140deg);
  transform:rotate(140deg);
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u30 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state15 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state15_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u32 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state16_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(160deg);
  -moz-transform:rotate(160deg);
  -ms-transform:rotate(160deg);
  transform:rotate(160deg);
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u34 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state17_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(170deg);
  -moz-transform:rotate(170deg);
  -ms-transform:rotate(170deg);
  transform:rotate(170deg);
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u36 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state18 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state18_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u38 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state19_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(190deg);
  -moz-transform:rotate(190deg);
  -ms-transform:rotate(190deg);
  transform:rotate(190deg);
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u40 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state20 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state20_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(200deg);
  -moz-transform:rotate(200deg);
  -ms-transform:rotate(200deg);
  transform:rotate(200deg);
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u42 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state21_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(210deg);
  -moz-transform:rotate(210deg);
  -ms-transform:rotate(210deg);
  transform:rotate(210deg);
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u44 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state22 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state22_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(220deg);
  -moz-transform:rotate(220deg);
  -ms-transform:rotate(220deg);
  transform:rotate(220deg);
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u46 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state23 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state23_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(230deg);
  -moz-transform:rotate(230deg);
  -ms-transform:rotate(230deg);
  transform:rotate(230deg);
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u48 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state24 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state24_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(240deg);
  -moz-transform:rotate(240deg);
  -ms-transform:rotate(240deg);
  transform:rotate(240deg);
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u50 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state25_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(250deg);
  -moz-transform:rotate(250deg);
  -ms-transform:rotate(250deg);
  transform:rotate(250deg);
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u52 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state26 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state26_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(260deg);
  -moz-transform:rotate(260deg);
  -ms-transform:rotate(260deg);
  transform:rotate(260deg);
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u54 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state27 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state27_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u56 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state28 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state28_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(280deg);
  -moz-transform:rotate(280deg);
  -ms-transform:rotate(280deg);
  transform:rotate(280deg);
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u58 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state29 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state29_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(290deg);
  -moz-transform:rotate(290deg);
  -ms-transform:rotate(290deg);
  transform:rotate(290deg);
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u60 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state30 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state30_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u62 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state31 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state31_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(310deg);
  -moz-transform:rotate(310deg);
  -ms-transform:rotate(310deg);
  transform:rotate(310deg);
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u64 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state32 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state32_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u66 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state33 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state33_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u68 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state34 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state34_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(340deg);
  -moz-transform:rotate(340deg);
  -ms-transform:rotate(340deg);
  transform:rotate(340deg);
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u70 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state35 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state35_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(350deg);
  -moz-transform:rotate(350deg);
  -ms-transform:rotate(350deg);
  transform:rotate(350deg);
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u72 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:190px;
  top:400px;
  width:120px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:325px;
  top:227px;
  width:10px;
  height:90px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:90px;
}
#u76 {
  position:absolute;
  left:2px;
  top:37px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:180px;
  top:90px;
  width:10px;
  height:10px;
}
#u78 {
  position:absolute;
  left:350px;
  top:400px;
  width:120px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
